.container{
    padding-top: 3em;
    height: 34em;
    background-color:#99B898;
}
.list-unstyled{
    padding-top: 5em;
    margin-left: 6em;
    color: white;
}
#link{
    color: white!important;
}
#link:hover { color: #FF847C!important; }

.list-1{
    list-style: none;
}
#button_a{
    margin-left: 43%;
    margin-top: 7em;
    }

.col-sm-12 h1{
    color:white;
}
.col-sm-12 h3{
    color: white;
}

.section2{
    background-color: #99B898;
    align-items: center;
    height: 50%;
}
.card{
    margin-top:5%;
    margin-left: 10%;
    margin-bottom: 5%;
}
.card-body{
    border-radius:100%;
}

.navbar navbar-expand-lg navbar-light{
    background-color: #FF847C;
}
.nav-link{
    font-weight: bold;
}
#navbarText{
    margin-left: 2em;
}

#hello{
    padding-left: 3.35em;
    padding-top: 0.75em;
    color: #FF847C;
}
#aboutmepar{
    padding-left: 5em;
    padding-top: 1em;
    padding-right: 30%;
    color: #FECEA8;
}
#profilepic{
    width: 90%;
    length:80%;
    padding-top: 5em;
    margin-left: 10%;
}


.center{
    width: 80%;
    length:60%;
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    margin-top:10em;
}

.form-group{
    padding-top:2em;
    padding-left:5em;
}
label{
    color: aliceblue;
}
#buttonsend{
    margin-left: 5em;
}
.footercontact{
    margin-top:10%;
}