<!DOCTYPE html>
{% load static %}
<html>
    <head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        {% include 'navbar.html' %}
        

        <div class="col-sm-12" style="height: 64em;background-color: #2A363B">
            <div class="row">
            <div class="col-sm-6">
            <h1 style="text-align: left;padding-top:2em;padding-left: 2em;color:#99B898">About Me</h1>
            <h4 id="hello">Hello there!</h4>
            <P id="aboutmepar">My name is Hanif and i was born at 11 March,2000 at sukabumi. When i was a child all do is go outside and just forget anything and just play around with other child. I grow up in a small family with elder sister. As i grow up i realize the world isn't always sunshine and rainbows, so i study like a lot to get good grades untill i get to go top school and university. Now, i am here trying to find what i like. I realize since i was middle school i am interesed in art espesially in design and visuals. I might persue that, and just go all out and double down for something that i like .</P>
           </div>

           <div class="col-sm-6">
            <img id="profilepic" src="https://sleepy-snorlax.herokuapp.com/pp.jpg">
           </div>
        </div>
        </div>
    </body>


<div class="footer" style="height: 17em; background-color:#2A363B">
        <div class="row">
        <div class="col-sm-6" style="height: 17.8em;background-color:#99B898">
    <ul class="list-unstyled">
      <li>
        <a id="link"href="{% url 'homepage:index' %}">Home</a>
      </li>
      <li>
        <a id="link"href="{% url 'homepage:aboutme' %}">About Me</a>
      </li>
      <li>
        <a id="link"href="{% url 'homepage:contact' %}">Contact</a>
      </li>
      <li>
          <a id="link"href="{% url 'homepage:resume' %}">Resume</a>
      </li>
    </ul>
  </div>
            
            
        <div class="col-sm-6" style="background-color:#99B898">
        <ul class="list-1">
        <li>
            <a id="button_a"href="#" class="btn btn-light btn-sm " role="button" aria-pressed="true"style="text-align: center">Send me an email</a>
        </li>
       <li>
    <div class="mb-5 flex-center" style="font-size: 24px;text-align: center; color: white;">

      <a class="fb-ic">
        <i class="fa fa-instagram"></i>
           </a>
      <!-- Twitter -->
      <a class="tw-ic">
        <i class="fa fa-twitter"></i>
      </a>
      <!-- Google +-->
      <a class="gplus-ic">
        <i class="fa fa-google-plus"> </i>
      </a>
      <!--Linkedin -->
      <a class="li-ic">
        <i class="fa fa-linkedin-in "> </i>
      </a>
      <!--Github-->
      <a class="ins-ic">
        <i class="fa fa-github-square"> </i>
      </a>

    </div>
  
    </ul>
            </div>    
        
        </div>
    </div>
</body>
</html>