<!DOCTYPE html>
{% load static %}
<html>
    <head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
  
        <nav class="navbar navbar-expand-lg navbar-light"style="background-color: #FF847C;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'homepage:aboutme' %}">About Me</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'homepage:contact' %}">Contact me</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'homepage:resume' %}">Resume</a>
      </li>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="{% url 'homepage:myhooby' %}">My hobby</a>
  </li>
    </ul>
  </div>
</nav>


    <div class="col-sm-12" style="height: 42em;background-color: #2A363B">
    <h1 style="text-align: center;padding-top:6em;">Welcome to my website</h1>
        <h3 style="text-align:center">2nd year computer sciente studnet at University of Indonesia</h3>
    </div>
        
        
    <div class="section2">
      <div class="row">
        <div class="col-sm-6">
            <div class="card" style="width: 75%; height:87% ;">
      <img src="https://images.unsplash.com/photo-1544716278-ca5e3f4abd8c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">My Story</h5>
        <p class="card-text">Hello, my name is Muhammad Hanif, you can call me Hanif. I was born in small town that is called sukabumi. Since i was a child, i  enjoy painting and drawing . As i grow older and older i realize that i like creating things especially art that have visuals.</p>
          
      </div>
    </div>
        </div>
        <div class="col-sm-6">
        <div class="card" style="width: 75%;height: 87%;">
      <div class="card-body">
        <h5 class="card-title">What can i do </h5>
        <p class="card-text">To keep it very simple . I can do a bunch of thing that correlated visuals. I do well on photography and cinematography, still expanding my skills with painting and digital design </p>
      </div>
        <img src="https://images.unsplash.com/photo-1476763752342-d5cf7e5eb6cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" class="card-img-bottom">
    </div>

    </div>
      </div>
</div>
        
        <di class="footer" style="height: 17.8em; background-color:red">
            <div class="row">
            <div class="col-sm-6" style="height: 17.8em;background-color:#FECEA8">
        <ul class="list-unstyled">
          <li>
            <a id="link"href="#!">Home</a>
          </li>
          <li>
            <a id="link"href="aboutme.html">About Me</a>
          </li>
          <li>
            <a id="link"href="contact.html">Contact</a>
          </li>
          <li>
              <a id="link"href="resume.html">Resume</a>
          </li>
          <li>
              <a id="link"href="myhobby.html">My hobby</a>
          </li>
        </ul>
      </div>
                
                
            <div class="col-sm-6" style="background-color:#FECEA8">
            <ul class="list-1">
            <li>
                <a id="button_a"href="mailto: heyitshanif@gmail.com" class="btn btn-light btn-sm " role="button" aria-pressed="true"style="text-align: center">Send me an email</a>
            </li>
           <li>
        <div class="mb-5 flex-center" style="font-size: 24px;text-align: center; color: white;">

          <a class="fb-ic" href="instagram.com/hnfxz">
            <i class="fa fa-instagram"href="https://www.instagram.com/hnfxz/"></i>
               </a>
          <!-- Twitter -->
          <a class="tw-ic"href="www.twitter.com/heyitshanif">
            <i class="fa fa-twitter"href="www.twitter.com/heyitshanif"></i>
          </a>
          <!-- Google +-->
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fa fa-linkedin-in "> </i>
          </a>
          <!--Github-->
          <a class="ins-ic"href="https://gitlab.com/users/mhanif-82">
            <i class="fa fa-github-square" href="https://gitlab.com/users/mhanif-82"> </i>
          </a>

        </div>
      
        </ul>
                </div>    
            
            </div>
        </di>
    </body>
</html>