<!DOCTYPE html>
{% load static %}
<html>
    <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    {% include 'navbar.html' %}
    <body style="background-color:#2A363B">
        <div class="container">

            <h1 class="font-weight-bold text-center text-lg-left mt-4 mb-0" style="color:#FECEA8">My hobby</h1>
          
            <hr class="mt-2 mb-5">
          
            <div class="row text-center text-lg-left">
          
              <div class="col-lg-6 col-md-6 ">
                <a href="#" class="d-block mb-4 h-100">
                      <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1456086272160-b28b0645b729?ixlib=rb-1.2.1&auto=format&fit=crop&w=1489&q=80" alt="">
                    </a>
              </div>
              <div class="col-lg-6 col-md-6 ">
                <a href="#" class="d-block mb-4 h-100">
                      <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/uploads/141148589884100082977/a816dbd7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="">
                    </a>
              </div>
              <div class="col-lg-6 col-md-6 ">
                <a href="#" class="d-block mb-4 h-100">
                      <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1523043829291-4195e5c69656?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="">
                    </a>
              </div>
              <div class="col-lg-6 col-md-6 ">
                <a href="#" class="d-block mb-4 h-100">
                      <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1542751371-adc38448a05e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="">
                    </a>
              </div>
            </div>
          
          </div>
          <!-- /.container -->
    </body>
</html>