<nav class="navbar navbar-expand-lg navbar-light"style="background-color: #FF847C;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'homepage:index' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'homepage:aboutme' %}">About Me</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'homepage:contact' %}">Contact me</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'homepage:resume' %}">Resume</a>
      </li>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="{% url 'homepage:myhooby' %}">My hobby</a>
  </li>
    </ul>
  </div>
</nav>